/* CSS file */
global{
modalTransparency: 0.5;
modalTransparencyBlur: 5;
modalTransparencyColor: #272727;
modalTransparencyDuration: 100;
}
Application
{
	color: #959494;
	fontSize: 11;
	corner-radius: 0;
	border-style:solid;
	border-thickness: 0;
	border-color: black;
	font-sharpness: 100;
	font-thickness: -100;
	background-alpha:0;
}
 
.menuText{
fontFamily: myFont;
color: #ffffff;
fontSize: 14;	
}
 
ScrollBar{
	trackSkin: Embed(source='assets/track.png', scaleGridLeft=6, scaleGridRight=7, scaleGridTop=26,scaleGridBottom=330);
	thumbUpSkin:Embed(source='assets/thumb_up.png', scaleGridLeft=8, scaleGridRight=9, scaleGridTop=8,scaleGridBottom=120);
	thumbOverSkin:Embed(source='assets/thumb_over.png', scaleGridLeft=8, scaleGridRight=9, scaleGridTop=8,scaleGridBottom=120);
	thumbDownSkin:Embed(source='assets/thumb_over.png', scaleGridLeft=8, scaleGridRight=9, scaleGridTop=8,scaleGridBottom=120); 
	upArrowUpSkin:Embed(source='assets/top_arrow_up.png');
	upArrowDownSkin:Embed(source='assets/top_arrow_over.png');
	upArrowOverSkin:Embed(source='assets/top_arrow_over.png');
	downArrowUpSkin:Embed(source='assets/bottom_arrow_up.png');
	downArrowDownSkin:Embed(source='assets/bottom_arrow_over.png');
	downArrowOverSkin:Embed(source='assets/bottom_arrow_over.png'); 
}

Button{ 
	font-family:myFont;
	upSkin:Embed(source='assets/btn.png', scaleGridLeft=10, scaleGridRight=12, scaleGridTop=3, scaleGridBottom=5);
	downSkin:Embed(source='assets/btn.png',scaleGridLeft=10, scaleGridRight=12, scaleGridTop=3, scaleGridBottom=5);
	overSkin:Embed(source='assets/btn_over.png',scaleGridLeft=10, scaleGridRight=12, scaleGridTop=3, scaleGridBottom=5);
	disabled-skin:Embed(source='assets/btn_disabled.png', scaleGridLeft=10, scaleGridRight=12,scaleGridTop=3,scaleGridBottom=5);
	selected-up-skin:Embed(source='assets/btn_over.png',scaleGridLeft=10, scaleGridRight=12, scaleGridTop=3, scaleGridBottom=5);
	selected-over-skin:Embed(source='assets/btn_over.png',scaleGridLeft=10, scaleGridRight=12, scaleGridTop=3, scaleGridBottom=5);
	selected-down-skin:Embed(source='assets/btn_over.png',scaleGridLeft=10, scaleGridRight=12, scaleGridTop=3, scaleGridBottom=5);
	color: #959595;
	
    textRollOverColor: #959595;
    textSelectedColor: #ffffff;
}
  
TextArea
{
	focus-alpha:0;
	border-skin: Embed(source='assets/input_bg.png', scaleGridLeft=8, scaleGridRight=20, scaleGridTop=8,scaleGridBottom=9);
	disabled-skin: Embed(source='assets/disabled_bg.png', scaleGridLeft=8, scaleGridRight=20, scaleGridTop=8,scaleGridBottom=9);
	padding-top:2;
	padding-left:2;
	font-size:12; 
}
 
.itemText{
	font-family: myFont;
	font-size:14;
	color: "#000000";
}

 @font-face {
    fontFamily: myFont;
    src: url("assets/fonts/verdana.TTF"); 
} 

  @font-face {
    fontFamily:myFont;
    font-weight:bold;
    src: url("assets/fonts/Verdana_Bold.TTF");
    advancedAntiAliasing: true; 
} 
 
@font-face {
    fontFamily: myGothic;
    src: url("assets/fonts/GOTHIC.TTF"); 
     advancedAntiAliasing: true;
}
 

